.word-color 
{
	color:red;
	font-weight: 900;
	font-size: 1.4em;
	font-family: "微软雅黑"；
}
.wrapper 
{
	width: 300px;
	margin: 30px auto;
	text-align: center;
}
.bgc
{
	background-image: url("../image/bodybg.jpg");
}
.formtext
{
	margin-top: 15px;
}
.formsub
{
	font-size: 1.2em;
	font-family: "微软雅黑";
	background: rgba(0,100,255,0.5);
	border-width: 3px;
	margin-top: 15px;
	padding: 3px;
}
