body {
    background-image: url(img/background.jpg);
    }
div {
    text-align: center;
    }
img {
    margin-top: 70px;
    width:135px;
    height:135px;
    }
h1 {
    font-family: Zapf Chancery;
    font-size: 36px;
    color: #2c2828a8
    }
input {
    border-radius: 4px;
    border-style: solid;
    border-color: #dddcdc;
    width: 230px;
    height: 40px;
    border-width: 1px;
    padding-left: 4px;
    margin: 5px;
    font-size: 15px;
    }
button {
    width: 135px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: #0f6b38;
    font-size: 20px;
    }