body {
    font-size: 15px;
    font-family: "微软雅黑";
    line-height: 2;
    background-color: #d9f3e3;
    margin:0;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

.header {
    height: 80px;
    background-color: #0f6b38;
}
.header h1 {
    position:absolute;
    left:150px;
    top:-20px;
    font-size:37px;
    color:#fff;
}
nav {
    position:absolute;
    right:150px;
    top:30px;
}
.menu {
    color: #fff;
    margin-left: 30px;
}
.nav {
    line-height:50px;
    background-color:#e5f36b;
    height:190px;
    width:180px;
    float:left;
    padding:10px;
    
}
.nav-wrapper {
    margin-left: 10px;
    font-size:20px;
    color:#000;
    list-style-type:square;
    
}
.a-nav{
    color:#000;
}
.section {
    width:1000px;
    float:right;
    padding:10px;
}
.message {
	float: left;
}
article {
    margin:0 120px 30px 120px;
}
time {
    margin-top:10px;
    color: #444242;
	font-size: 14px;
}
.tag {
	border-radius: 4px;
	padding: 3px;
	background-color: #135492;
    color:#fff;
    text-align: center;
}
.footer {
    background-color: #4a4a4a;
	height: 80px;
	padding: 10px 150px;
    clear:both;
    text-align:center;
    color:#fff;
}