div#gameboard{
    margin: auto;
    padding: 0px;
    border: solid;
    border-color: #668286;
    width: 306px;
    height: 306px;
}
#gamebegin{
    margin: auto;
    text-align: center;
}

.num{
    border: 1px solid #4c3f3f;   
    float: left;
}
.btn_num{
    border: 1px solid #4c3f3f;
    float: left;
    padding: 0px;
}
.btn_blank{
    background: #777777;
}
.input{
    margin: auto;
    text-align: center;
}


button.gamebox {
    border-color: #bbb;
    margin: 0px;
    padding: 0px;
    text-align: center;
}



#gametext{
    text-align: center;
}
