.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
}

.nav ul li {
  float: left;
}

.nav ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
    text-shadow: 0 2px 10px #dbe1ef;
}

.nav-menu {
   position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.header-container h1 {
  float: left;
  vertical-align: top;
  margin: 0;
}

.nav { 
  float: right;
  margin-right: 40px;
}

.header-container {

  overflow: hidden;
  padding: 30px 30px;
  color: white;
  box-shadow: 0 2px 10px #222;
    background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #dbe1ef;
  min-width: 750px;
}

section {
  background-color: #eae4ec;
  clear: both;
  margin: 0px 10%;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  padding: 10px 20px;
}

#section-header {
    /* border: 1px solid; */
    margin-left: -20px;
    background-color: #3d3149;
    width: 50%;
    color: white;
    font-size: small;
    height: 50px;
    display: inline-block;
    /* vertical-align: inherit; */
    padding-left: 30px;
    border-radius: 3px;
    box-shadow: -2px 0 5px #a5a593;
}

#section-header-arrow {
    border: 25px solid;
    border-color: #eae4ec #eae4ec #eae4ec #3d3149;
    display: inline-block;
    vertical-align: top;
    margin-left: -9px;
}

article {
    background-color: #eee;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
}

article a {
    text-decoration: none;
    color: #3d3149;
    text-shadow: 0 2px 3px #655555;
    display: block;
}

article a:hover {
    color: #203f66;
}

article:hover {
  background-color: #dcdada;
  box-shadow: 0 0 10px #8a6262;
}


footer {
  position: absolute;
  width: 100%;
  z-index: -1;
  color: white;
  font-size: 1.2em;
  padding: 20px;
  box-shadow: 0 -2px 10px #222;
  text-align: center;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
