body{
background-color:white;
background-position:center;
}

img
{
margin-top:90px;
background-color:transparent;
}

div.login {
    text-align: center;
    color: rgb(0, 0, 0);
}

input{
width:250px;
height:30px;
border-radius:5px;
font-size:12px;
border-color:grey;
border-width:1px;
border-style:solid;
margin: 5px;
}

button
{
color:white;
background:green;
width:100px;
height:50px;
border-radius:10px;
font-size:18px;
border-style:none;
}
