.calborder
{
	margin-top: 50px;
	margin-left: 380px;
	border: 2px solid;
	width: 600px;
	height: 100px;
}

.bg
{
	background: rgba(50,150,20,0.5);
}

.displayer
{
	font-size: 5em;
	font-weight: 700;
	text-align: right;
}