.calborder
{
	margin-top: 50px;
	margin-left: 380px;
	border: 1px solid;
	width: 590px;
	height: 80px;
	background-color: #F0F0F0;
}

.bg
{
	background: rgba(50,150,20,0.5);
}

.displayer
{
	font-size: 5em;
	font-weight: 700;
	text-align: right;
}

.nine 
{
	width: 142.5px;
	margin-left: 380px;
	margin-top: 5px;
	font-size:3em;
}

.keyboard
{
	width: 600px;	
	margin-left: 380px;
}

.keyboard ul li
{
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;

}

.keyboard ul li button
{
	width: 134px;
	height: 67px;
	font-size:40px;
}

.blank
{
	border: 0px;
	opacity: 0;/*opacity属性设置透明度，从0到1，0的时候完全透明*/
}
