* {
	padding: 0 0 0 0 ;
	margin: 0 0 0 0 ;
	border: 0;
}
html,body {
	height: 800px;
	background: #23233B;
}

.content {
	width: 40%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
}
.form {
	width: 100%;
	height: 80%;
}
.title {
	position: relative;
    top: 8%;
	font-size: 1.5em;
	text-align: center;
	height: 20%;
	color: white;
}
.inputbox {
	position: relative;
	width: 80%;
	height: 10%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	left: 10%;
	background: #645A63;
	font-size: 1.3em;
	text-align: center;
	border-radius: 6px;

}
.inputbox:focus {
	background: white;
}
.login,.register {
	width: 30%;
	height: 10%;
	margin-top: 2.5%;
	position: relative;
	border-radius: 5px;
	color: white;
	background: #27AE60;
	font-size: 1.1em;
	
}
.login {
	left: 10%;
}
.register {
	left: 30%;
}


