
body {
    text-align: center;
    background: rgba(92, 255, 188, 0.75);
}

#calculator {

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#display {
    width:312px;
    height:50px;
    text-align: right;
    font-size: 45px;
    background: rgba(255, 255, 255, 0.85);
    padding: 4px;

}
input {
    margin: 3px;
    border: none;
}

input, button {
    outline:none;
}

.btn_in {
    width: 72px;
    height: 72px;
    border: none;
    font-size: 20px;
    background: rgba(15, 255, 94, 0.91);
    color: #ffffff;

}
.btn_in:hover {
    cursor: pointer;
}
.btn_in:active{
    background-color: rgba(128, 128, 128, 0.52);
}
.on{
    background-color: #19beff;
}
.del{
    background-color: rgb(255, 94, 178);
}
.clear{
    background-color: rgb(255, 33, 21);
}
.num {
    background: #949494;
    color: #ffffff;

}
.equal {
    background: #ffd624;
    color: #ffffff;
}

#down {
    opacity: 0.4;
}

#up {
    opacity: 1;
}


