
body {
    text-align: center;
    background: rgba(92, 255, 188, 0.75);
}

#calculator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#screen{
    width: 350px;
    margin: 0 auto;
}
.display{
    width: 316px;
    height:30px;
    margin: 0 auto;
    font-size: 25px;

}
input, button {
    margin: 3px;
    border: none;
    padding: 2px;
    outline:none;
}

.btn_in {

    width: 72px;
    height: 72px;
    border: none;
    font-size: 20px;
    background: rgba(15, 255, 94, 0.91);
    color: #ffffff;

}
.btn_in:hover {
    cursor: pointer;
}
.btn_in:active{
    background-color: rgba(128, 128, 128, 0.52);
}
.on{
    background-color: #19beff;
}
.del{
    background-color: rgb(255, 94, 178);
}
.clear{
    background-color: rgb(255, 33, 21);
}
.num {
    background: #949494;
    color: #ffffff;

}
.equal {
    background: #ffd624;
    color: #ffffff;
}



