h1 {
    text-align: center;
}

table {
    border-spacing: 10px 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #E3EFEC;
}

table td {
    cursor: pointer;
    width: 20px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

tr:nth-child(2) td:nth-child(3) {
    background-color: #ff6269;
}

tr:nth-child(2) td:nth-child(4) {
    background-color: #6de769;
}

#display {
    cursor: default;
    height: 30px;
    margin-bottom: 20px;
    text-align: right;
    background-color: #fafafa;
    color: #333333;
    font-size: 25px;
}

body {
    background-color: #53e3a6;
    font-family: 'Orbitron', sans-serif;
}