#top_title_bgp {

	width: 101%;
	height: 100px;
	position: absolute;
	left: -10px;
	top: -10px;
}

#top_title {

	font-family: "方正舒体";
	font-size: 40px;
	color: #AAAAAA;
	position: relative;
	top: 11px
}

.top_tag {

	font-family: "方正舒体";
	font-size: 20px;
	color: #AAAAAA;
	text-decoration: none;
}

.top_tag:hover {

	font-family: "方正舒体";
	font-size: 25px;
	color: #AAAAAA;
	text-decoration: none;
}

.center_left {

	position: relative;
	left: 20px;
	top: -40px;
}

.center_right {

	position: relative;
	left: 20px;
	top: 30px;
}

.center_time {

	font-family: "方正舒体";
	font-size: 20px;
}

.center_tag {

	font-family: "方正舒体";
	font-size: 25px;
	color: #AAAAAA;
	background-color: #666666;
	text-decoration: none;
}

.center_tag:hover {

	font-family: "方正舒体";
	font-size: 25px;
	color: #AAAAAA;
	background-color: #444444;
	text-decoration: none;
}

.center_title {

	font-family: "方正舒体";
	font-size: 30px;
	font-weight: bold;
	color: #272727;
}

.center_text {

	font-family: "方正舒体";
	font-size: 20px;
	box-shadow: 10px 10px 4px #444444;
	position: relative;
	top: -30px
}

#bottom_title_bgp {

	width: 101%;
	height: 100px;
	position: absolute;
	left: -10px;
	bottom: -700px;
}

#bottom_title {

	font-family: "方正舒体";
	font-size: 20px;
	color: #AAAAAA;
	position: relative;
	top: 90px
}