html, body {  

	height: 100%;
	width: 100%;
	margin: 0px; 
	font-family: "方正舒体";
}  

.container {

	height: 100%;
	width: 100%;
	background: url(./image/bgp_register.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main {

	height: 480px;
	width: 400px;
	background-color: #555555;
	position: absolute;
	right: 12%;
	top: 13%;
	border-radius: 13px;
	box-shadow: 22px 22px 13px #000000;
}

.sign {

	height: 30%;
	width: 100%;
	position: relative;
	top: 0%;
	border-radius: 13px;
	font-size: 70px;
	text-align: center;
	font-weight: bold;
}

.login {

	height: 50%;
	width: 100%;
	border-radius: 13px;
}

.login-input {

	height: 33.33%;
	width: 100%;
	border-radius: 13px;
	text-align: center;
}

.input-box {

	margin-bottom: 7%;
}

.input-style {

	font-size: 17px;
	background-color: #222222;
	border: 0px;
	border-radius: 2px;
	outline: none;
	color: #AAAAAA;
	padding: 2%;
}

.button-style {

	cursor: pointer;
	padding: 4px 27px;
	border-radius: 4px;
	background: #444444;
	border: 0px;
	color: #AAAAAA;
	box-shadow: 7px 7px 4px #000000;
	outline: none;
	margin-top: 2%;
	margin-left: 38%;
}

.button-style:active {

	cursor: pointer;
	padding: 2px 25px;
	border-radius: 4px;
	background: #444444;
	border: 0px;
	color: black;
	box-shadow: 4px 4px 4px #000000;
	outline: none;
	margin-left: 38%;
}

.warning {
	
	color: #880000;
	font-size: 11px;
	text-align: center;
	margin-top: 30%;
}