html, body {

	height: 100%;
	width: 100%;
	margin: 0px; 
	font-family: "方正舒体";
	background-color: #BBBBBB;
}

.main {

	height: 70%;
	width: 50%;
	position: absolute;
	top: 15%;
	left: 25%;
}

.puzzle {

	height: 500px;
	width: 500px;
	float: left;
	border-radius: 22px;
}

.block {

	height: 150px;
	width: 150px;
	border: 0px;
	float: left;
	text-align: center;
	line-height: 230%;
	font-size: 60px;
	font-weight: bold;
	box-shadow: 13px 13px 13px 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #777777;
}

.oper {

	height: 100%;
	width: 20%;
	float: right;
}

.start {

	height: 10%;
	width: 100%;
	margin-top: 20%;
	margin-left: 20%;
	font-size: 22px;
	font-weight: bold;
	border: 0px;
	border-radius: 11px;
	background-color: #777777;
	box-shadow: 7px 7px 7px 4px;
	outline: none;
}

.start:active {

	height: 9%;
	width: 90%;
	margin-top: 23%;
	margin-left: 30%;
	font-size: 22px;
	font-weight: bold;
	border: 0px;
	border-radius: 11px;
	background-color: #777777;
	box-shadow: 4px 4px 4px 4px;
	outline: none;
}

.choose {

	height: 7%;
	width: 100%;
	margin-top: 40%;
	margin-left: 22%;
	font-size: 22px;
	text-align: center;
	border: 0px;
	background-color: #777777;
}