        body {
            width: 100%;
            height: 100%;
            background-color: #FEFFA5;
            margin: 0px;
            padding: 0px;
        }
        
        .login {
            text-align: center;
            overflow: hidden;
        }
        
        .input {
            width: 300px;
            margin: auto;
        }
        
        .login input {
            display: block;
        }
        
        img {
            width: 100px;
            height: 100px;
            margin-top: 50px;
        }
        
        .username {
            font-size: 30px;
            width: 300px;
            height: 50px;
            margin-top: 50px;
            background-color: #FAFBC2;
        }
        
        .password {
            font-size: 30px;
            width: 300px;
            height: 50px;
            margin-top: 20px;
            background-color: #FAFBC2;
        }
        
        .loginBtn {
            width: 300px;
            height: 50px;
            background-color: #FFC835;
            margin-top: 20px;
            border: 0px;
            padding: 0px;
        }
        
        h5 {
            font-size: 30px;
            line-height: 50px;
            font-family: SimHei;
            text-align: center;
            color: #000000;
            margin-top: 2px;
        }
        
        .titleBk {
            height: 60px;
            background-color: #FFE0AA;
        }
        
        .title {
            height: 60px;
            line-height: 60px;
            font-size: 40px;
            font-family: SimHei;
            color: #000000;
            white-space: pre;
            float: left;
            margin-left: 200px;
        }
        
        .classifyBk {
            float: right;
            line-height: 60px;
            margin-right: 200px;
        }
        
        .classify {
            font-size: 18px;
            font-family: SimHei;
            text-align: center;
            color: #000000;
            white-space: pre;
            display: inline;
            padding: 5px;
        }

        .classify:hover {
            background-color: grey;
        }
        
        a {
            text-decoration: none;
        }
        
        .study {
            width: 1025px;
            margin: auto;
        }
        
        .left {
            float: left;
            width: 150px;
            margin-top: 5px;
        }
        
        .right {
            margin-left: 200px;
            margin-top: 5px;
        }
        
        .date {
            margin: 0px;
            color: #000000;
            font-size: 16px;
            font-family: SimHei;
            text-align: left;
            white-space: pre;
        }
        
        .label {
            padding: 3px;
            background-color: #6D0875;
            color: #FFFFFF;
            font-size: 15px;
            font-family: SimHei;
            text-align: center;
            white-space: pre;
        }
        
        .list {
            font-size: 20px;
            font-family: SimHei;
            text-align: center;
            color: #000000;
            white-space: pre;
        }
        
        .load {
            text-align: center;
        }

        .loadBtn {
            width: 100%;
            height: 50px;
            background-color: #FFC835;
            border: 0px;
            padding: 0px;
        }
        
        .copyrightBk {
            background-color: grey;
            margin-top: 20px;
        }
        
        .copyright {
            font-size: 15px;
            font-family: SimHei;
            text-align: center;
            color: #FFFFFF;
            white-space: pre;
            margin-bottom: 0px;
        }
