@charset "utf-8";
/* CSS Document */
.calculator {
    margin: auto;
    height: 320px;
    width: 280px;
    background: #d0caca8a;
}
.cal_result {
    padding: 10px;
    height: 10%;
}
.num {
    clear:right;
}

button.num,.operator,.row1,.equal {
    border: #000 thin solid;
    margin: 8px;
    padding: 8px 10px;
    width: 18%;
    height: 20%;
    cursor: pointer;
}
.equal {
    background-color: #797976;
}
.operator {
    background: #cacabe;
}
.row1 {
    background: #cacabe;
    float: right;
    margin: 9px;
}	
#result {
    width: 100%;
    height: 100%;
    border: black;
    border: 1px;
    border-style: solid;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-align: right;
}
