@charset "utf-8";
/* CSS Document */
.calculator {
    margin: auto;
    background: #d0caca8a;
    float: left;
}
.cal_result {
    padding: 10px;
    height: 32px;
}
.num {
    overflow: hidden;
}
button.num,.operator,.row1,.equal {
    border: #000 thin solid;
    margin: 8px;
    padding: 8px 10px;
    width: 50.3px;
    height: 33px;
    cursor: pointer;
    float: left;
}
.equal {
    background-color: #797976;
}
.operator {
    background: #cacabe;
}
.row1 {
    background: #cacabe;
    margin: 8px;
}	
#result {
    width: 245px;
    height: 36px;
    border: 1px;
    border-style: solid;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-align: right;
}
#empty {
    visibility: hidden;
}
