body.background {
    background-image: url(../image/login.jpg);
    background-size: 100%;
    background-attachment:fixed;
}
div.login {
    text-align: center;
    color: #A9A9A9;
    font-family: Times;
    margin-top: 0px;
    padding-top: 100px;
}
img.login {
    position: relative;
    padding: 10px;
}
form.login {
    padding-left: -40px;
    margin-left: -40px;
}
input.login {
    padding: 2px;
    margin: 10px;
}
span.login {
    font-size: 22px;
    color: #003EFF;
    position: relative;
    top: 3px;
    font-family: 楷体;
}
a.login {
    font-size: 20px;
    font-family: 黑体;
    text-decoration: none;
}
a:link {
    color: #00008B;
    text-decoration: none;
}
a:hover {
    color: #F04812;
    text-decoration: none;
}
a:active {
    color: #0000FF;
    text-decoration: none;
}
span.header {
    font-family: Times;
    font-weight: bold;
}
p.list {
    padding: 10px 0px 10px 0px;
}
p.link {
    font-size: 25px;
    font-family: 楷体, serif;
    color: #F50E25;
}
span.link {
    left: 20px;
}
li.li {
    padding: 10px 0px 10px 0px;
}
div.header {
    text-align: center;
    font-size: 40px;
    font-family: 楷体, serif;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
}
div.list {
    width: 20%;
    text-align: center;
    font-size: 30px;
    font-family: 微软雅黑, serif;
    margin-left: 0px;
    padding-left: 8px;
    margin-right: 0px;
    padding-right: 8px;
    float: left;
}
div.content {
    width: 75%;
    margin: 0px;
    padding: 25px 0px 0px 20px;
    font-family: 仿宋, serif;
    font-size: 20px;
    float: left;
}
div.footer {
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: Times, serif;
    width: 100%;
    float: left;
}