.container{
	position: absolute;
	left: 44%;
	top: 30%;
}

td{
	width: 50px;
	height: 50px;
	//border: 1px solid #cccccc;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgb(236, 248, 255);
}