/*尽可能少的使用标签选择器和id选择器，样式尽量使用类选择器！*/

body {
    font-size: 12px;
    font-family: Arial, Georgia, "Times New Roman", Times, serif;
    color: #555;
    text-align: center;
    background-color: #e2e2e2;
}


/*我觉得body加点css还是很好用的，保留吧*/

.time {
    margin: 0;
    font-size: 12px;
}

.calculator {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
    border: #fff 1px solid;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

.calcu-screen {
    clear: both;
}

.calcu-btns {
    padding: 0;
    margin: 5px 14px;
    border: #fff 1px solid;
    height: auto;
    overflow: hidden
}

.button {
    list-style: none;
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px;
    display: inline;
    line-height: 32px;
    font-size: 14px;
    background-color: #eaeaea;
}

.tool {
    list-style: none;
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px;
    display: inline;
    line-height: 32px;
    font-size: 14px;
    background-color: #eaeaea;
    background-color: #e2e2e2;
}

.button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.button:active {
    background-color: #fc0;
    cursor: pointer;
}

.tool:active {
    background-color: #d8e8ff;
    cursor: pointer;
}

.tool:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.calcu-head {
    text-align: center;
    padding: 10px 15px 5px;
}

.screen {
    width: 220px;
    height: 24px;
    line-height: 24px;
    padding: 4px;
    border: #e6e6e6 1px solid;
    border-bottom: #f2f2f2 1px solid;
    border-right: #f2f2f2 1px solid;
    margin: 10px auto;
    direction: ltr;
    text-align: right;
    font-size: 16px;
    color: #999;
}