body {
    font-family: "Noto", "Helvetica Neue";
    font-weight: bold;
    text-align: center;
    background: #fafaff;
}

.frame {
    border: dotted;
    border-color: #bdc3c7;
}

.container {
    width: 350px;
    height: 30px;
    margin: 0 auto;
}

.btn {
    font-size: 80%;
    width: 75px;
    height: 30px;
    padding: 5px 15px;
    border: 1px outset #bdc3c7;
    background: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0px 5px 3px 2px #bdc3c7;
    margin: 3%;
    text-decoration: none;
}

.btn:visited {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}
.mark {
    color: grey;
    font-size: 50%;
}