body {
    text-align: center;
    background: #fafaff;
}
form {
    border: dotted;
    border-color: #009DD1;
}
.container {
    width: 250px;
    height: 30px;
    margin: 0 auto;
}
.login {
    width:300px;
    height: 30px;
    padding: 10px;
    border: 1px outset #000;
    background: #009DD1;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #000;
    margin: 10% 20%;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p {
    margin: 25px;
}