html {
  font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
}
body {
  background: #ecf8ff;
  padding-top: 0;
}
.header {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    background:#336699;
    width:100%;
    height:70px;
    margin: 0px;
}
.header1 {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    background:#336699;
    width:35%;
    height:70px;
    text-align: right;
    float: left;
    color: #FFFFFF;
}
.header ul {
    list-style-type:none;
    margin:auto;
    font-size:70%;
    color:#FFFFFF;
    width: 100%;
    height:70px;
    padding-top: 10px;
}
#li1 {
    list-style-type:none;
    padding:13px;
    float:right;
    display:block;
}
a {
    text-decoration:none;
}
#ul2 {
    clear: both;
    color: red;
    font-size: 100%;
    line-height: 100px;
    overflow: hidden;
    margin-right: 100px;
}
.footer {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    position:absolute;
    background:#336699;
    width:100%;
    height:50px;
    padding-top:10px;
    padding-bottom: 10px;
    line-height: 0.5em;
    text-align:left;
    content: #FFFFFF;
}
