html {
  font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";

}
body {
  background: #ecf8ff;
  padding-top: 0;
 }
.header {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    background: #336699;
    width: 100%;
    height: 70px;
    overflow: hidden;

}
.header h2 {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    background: #336699;
    height: 25px;
    float: left;
    color: #ecf8ff;
    width: 30%;
    padding-left: 20px;
    overflow: hidden;
}
.header ul {
    list-style-type: none;
    margin: auto;
    font-size: 75%;
}
#li1 {
    list-style-type: none;
    padding: 13px;
    float: right;
    display: block;
}
a {
    color: #3DB1FF;
    text-decoration: none;
}
#ul2 {
    clear: both;
    color: red;
    font-size: 100%;
    line-height: 100px;
    overflow: hidden;
    margin-right: 100px;
}
.footer {
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue";
    position: absolute;
    background: #336699;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.5em;
    text-align:left;
    content: #FFFFFF;
}
