
.table{
	  position: absolute;
	left: 37.9%;
	right: 38.9%;
	top: 60px;
    width: 310px;
    height: 506px;
    border: 10px;
    border-style: solid;
    border-radius: 40px;
    padding: 60px;
    border-color: #f1f1f1;
	 
}
