body {
    background-color: #ffffff;
    padding: 0;
    margin: 0 0 0 0;
    border: 0;
}

header {
    background-color: #53e3a6;
    width: 100%;
    height: 100px;
    margin-top: 0;
    padding: 0;
    border: 0;
}

.my_index {
    width: 100%;
    display: inline-block;
}

.brand {
    color: #333333;
    font-size: 40px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: -20px;
    width: 300px;
    float: left;
}

.my_writing {
    line-height: 20px;
    margin-left: 50px;
    padding: 0;
}

.my_writing .essay_list, .my_writing.paragraph {
    /*height: 200px;*/
    /*line-height: 200px;*/
}

.essay_list {
    position: absolute;
    margin: 0;
    width: 150px;
    height: auto;
}

.paragraph {
    margin-left: 180px;
}

.my_note {
    font-size: 20px;
}

.my_label {
    margin-right: 100px;
    float: right;
}

.my_blog {
    color: #333333;
    padding-left: 60px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.label_title {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    padding: 8px 10px;
    border-radius: 0.5em;
}

.label_title:hover {
    background-color: #aae3d8;
    transition-duration: 0.5s;
}

.pic {
    width: 20px;
    height: 20px;
    float: left;
}

.head {
    color: white;
    font-size: 35px;

}

.my_note {
    color: #53e3a6;
    text-decoration: none;
}

.time {
    line-height: 20px;
    color: black;
    font-size: 16px;

}

.wirting {
    color: #53e3a6;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.list {
    padding: 8px 12px;
    background-color: #53e3a6;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.list:hover {
    background-color: #424f71;
}

.more {
    text-align: center;
    background-color: #53e3a6;
    padding-top: 55px;
    font-size: 40px;

}

.more_out {
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.footer {

    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    background: #333333;
    text-transform: uppercase;
    font-weight: 700;
}

.footer p {
    margin: 0;
    padding-top: 2px;
}

.copyright {
    font-size: 20px;
    text-align: center;

}




