html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: verdana;
}

body {
	background-color: #E0FFFF;

}

header {
	background: url(../images/head_bg.jpg);
	background-repeat: repeat-x;
	height: 100%;
	width: 90%;
	color: #ffffff;
	padding-left: 10%;


}

#icon {
	position: absolute;
	left: 71%;
	top: 1%;
	line-height: 8px;
	font-size: 15px;
	margin-top: 15px;
	font-weight: bolder;
	margin-right: 25px;
	width: 320px;
	padding-right: 50px;

}

#icon p {

	padding-bottom: 10px;
	display: inline;
	padding: 5px;
}

#icon p:hover {
	cursor: pointer;
}

#icon img {
	height: 15px;
	display: inline;
}

#content {
	color: #000000;
	background-color: #ffffff;
	position: absolute;
	top: 180px;
	width: 1150px;
	left: 10%;
	border-radius: 10px;
}

h4 {
	display: inline;
	line-height: 200px;
	font-size: 40px;
	font-style: italic;
	text-shadow: #f3f3f3 1px 1px 0px, #4682B4 4px 4px 0;
	width: 50%;

}

#left {
	width: 25%;
	border-radius: 10px;
	border: solid 1px #DEB887;
	margin-right: 10px;
	margin-left: 15px;
	position: relative;
	top: -137px;
	background-repeat: no-repeat;
	background-size: 70% 70%;
	text-align: center;
	color: #696969;
	display: inline-block;

}

#left img {
	max-width: 60%;
}

.operation {
	cursor: pointer;
}

.operation img {
	height: 30px;
	margin: 5px;
}

hr {
	border: dashed 1px #DCDCDC;
	width: 90%;
}

#title {
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	background: #A9A9A9;
	color: #ffffff;
	height: 35px;
	line-height: 35px;
	font-weight: bolder;

}

#right {
	display: inline-block;
	margin: 15px 15px 15px 0px;
	max-width: 70%;
	border: solid 1px #DEB887;
	border-radius: 10px;

}
.passage {
	box-shadow: 8px 8px 5px #888888;
	background: #F5FFFA;
	margin: 20px;
	border-radius: 5px;
	padding: 10px; 	
}
.passage h3 {
	color: #00BFFF;
}


.passage p {
	color: #696969;
}

.currentItem {
	background: #2F4F4F;
	color: #ffffff;
}

footer {
	height: 70px;
	background-color: #696969;
	width: 100%;
	color: #ffffff;
	margin-top: 280px;
	text-align: center;
	line-height: 70px;

}
 

td {
	border: 1px solid #4169E1;
	padding: 3px 5px;
	border-radius: 2px;
	cursor: pointer;
	color: #696969;
} 

table {
	border-collapse: separate;
	border-spacing: 10px;
	margin-left: 28%;
}