
html, body {  
  height:100%;  
  margin: 0px; 
  width: 100%; 
  font-family:Arial;
}  
.page-container {
	height: 100%;
	width: 100%;
	background: url(../images/back0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.main_box {
    position: absolute; 
    top:50%; 
    left:50%; 
    margin-top:-260px; 
    margin-left: -300px; 
    padding: 30px; 
    width:540px; 
    height:400px;
	background:url(../images/1.png);
    border-radius: 10px;
    z-index: 99;
}
 

.login_logo {
	margin-bottom: 20px; 
	height: 45px; 
	text-align: center;
	color: #CD853F;
	font-style: italic;
	text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 4px 0;
}

.login_msg {
	text-align: center; 
	font-size: 16px;
}
.login_form {
	padding-top: 20px; 
	font-size: 16px;

}

#login_form {
	padding-left: 80px;
	font-weight: bold;
}

.form-control {
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	width: 300px; 
	font-size: 17px;
	height: 20px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #A9A9A9;
}

#captcha {
	width: 120px;
}

.password {
	width: 315px;
}

.code {
	width: 164px;
}

.form-group {
	margin-bottom: 20px;
}
 
.space {
	padding-top: 15px; 
	border-top: 1px #FFF dotted;
	text-align: center;
	padding-right: 80px;
}


.bottom {
	text-align: center; 
	font-size: 12px;
}

#checkCode {
   width:150px;
   height:35px;
   font-size:17px;
   font-family:Arial;
   font-style:italic;
   //letter-spacing:1px;
   font-weight:bolder;
   padding-right: 100px;
   text-align: center;
   float: right;
   cursor: pointer;
   color: blue;
   padding-top: 6px;
   display: inline;
   
}

.btn {

	cursor: pointer;
	font-size: 16px;
	padding: 10px 9px;
	border-radius: 5px;
	margin: 10px;
	background: #4169E1;
	border: 0px;
	color: snow;
	font-weight: bolder;


}

.btn:hover {
	background: #6495ED;
}



