.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;
}
.container {
    width: 504px;
    height: 504px;
    border: 2px solid black;
    background-color: #DCDCDC;
    margin:0 auto; 
    text-align: center; 
}
.intro {
    padding-top: 20px;
    text-align: center;
}
.confirm {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.box {
    float: left;
    background-color: #7FFFD4;/*#90EE90*//*#3CB371*/
    border: 1px solid black;
}
.target {
    background-color: #DCDCDC;
}