div.content {
    position: relative;
    width: 350px;
    height: 340px;
    top: 150px;
    margin: 0 auto;
    padding: 20px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(228, 227, 227);
    background-color: lightblue;

}

#output-window {
    position: relative;
    margin: 0 auto 10px auto;
    width: 340px;
    height: 30px;
    text-align: right;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border-width: 2px;
}

input {
    height: 40px;
    width: 75px;
    margin: 5px;
    padding: 0;
    background-color: rgb(248, 246, 246);
    color: rgb(10, 9, 9);
    float: right;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 4px;

}

div.footer {
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    float: left;
    position: relative;
    top: 24px;
}

#divide {
    clear: right;
}