body {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-color: #FFFFFF;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #FEFFA5;
    color: #000000;
    font-size: 20px;
    font-family: SimHei;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin-top: 0px;
    margin-right: -2px;
    margin-bottom: 0px;
    margin-left: -2px;
}

.move {
    background-color: #FAA75F;
}

.text {
    border: 1px solid #000000;
}

.input {
    width: 70px;
    height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-family: SimHei;
    text-align: center;
    vertical-align: middle;
}

.matrix {
    float: left;
}

.right {
    margin-left: 500px;
}