body {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-color: #FFFFFF;
}

.block {
	width: 70px;
    height: 70px;
    background-color: #FEFFA5;
    color: #000000;
    font-size: 20px;
    font-family: SimHei;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin-top: 0px;
    margin-right: -4px;
    margin-bottom: 0px;
    margin-left: -4px;
}

.move {
	background-color: #FAA75F;
}

.input {
	width: 70px;
    height: 30px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-family: SimHei;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}

.reset {
	width: 70px;
    height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-family: SimHei;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}
}