$font-family:STHeiTi,"Microsoft Yahei","Helvetica Neue", Helvetica, sans-serif;

$text-color:#333333;
$light-text: #959595;
$border-color : #f2f2f2;

$success-bg:#80c269;
$success-border:darken($success-bg, 5%);